.controls {
  width: 400px;
  background: rgb(0 13 53 / 36%);
  padding: 15px 10px;
  backdrop-filter: blur(10px);
  position: relative;
}
.controls .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
