.controls {
  margin: auto;
  gap: 0.3em;
  position: absolute;
  left: 0;
  top: 0;
}

.volume {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 5px;
}

.secondary-actions {
  display: flex;
  gap: 0.3rem;
}

.main {
  display: flex;
  gap: 0.3rem;
}

.music-actions,
.play-pause-container,
.secondary-actions button,
.top-section .drag-btn {
  background: rgb(24 24 24 / 35%);
  backdrop-filter: blur(10px);
}

.play-pause-container {
  padding: 1rem;
  line-height: 0;
}

.play-pause {
  line-height: 0;
  background: transparent;
  width: 48px;
  height: 48px;
  box-shadow: inset 0 0 0 2px var(--primary_color) !important;
}

.play-pause svg {
  fill: var(--primary_color) !important;
}

.music-actions {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  justify-content: flex-start;
  gap: 15px;
}

.top-section .author {
  opacity: 0.5;
  margin-top: 0.5em;
  font-size: 12px;
  opacity: 0.5;
}

.music-actions button,
.secondary-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-actions button {
  width: 30px;
  height: 30px;
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--secondary_color);
  border: none;
}

.secondary-actions button {
  width: 50px;
  height: 50px;
  border: none;
}
.secondary-actions button svg {
  fill: var(--secondary_color);
}

.title .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
  overflow: hidden;
  font-size: 0.9em;
}

.music-actions button.next {
  transform: rotate(180deg);
}

.music-actions button svg {
  fill: var(--secondary_color);
  height: 90%;
  width: 90%;
}

.drag-btn {
  cursor: move;
  border: none;
  padding: 5px 10px;
  margin-left: auto;
}

.top-section {
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.top-section {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .music-actions {
    max-width: 75vw;
    min-width: unset;
  }
  .music-actions .title {
    width: 45vw;
  }
}
