.player-info {
  background: rgb(24 24 24 / 35%);
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  position: static;
}

.cashtab-container,
.player-info {
  left: 50%;
  width: 100%;
  max-width: 460px;
  bottom: 140px;
  z-index: 10;
}

.player-info button svg {
  margin-right: 5px;
}

.player-info .resources .btn {
  margin: 5px;
  display: flex;
  align-items: center;
}

.player-info .resources {
  display: flex;
  font-size: 0.8em;
  justify-content: space-between;
}

.player-info .header {
  justify-content: flex-start;
  padding: 0.2em 0.4em 0 0.4em;
  border-bottom: 1px solid rgb(153, 153, 153);
  align-items: center;
  font-size: 0.8em;
}

.player-info .header .logo {
  padding-right: 0.4em;
}

.player-info .header .logo svg {
  width: 15px;
}

.switch {
  position: relative;
  display: flex;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  width: 28px;
}

.disable-scaling {
  padding: 1.5em 1em;
}

.disable-scaling .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.disable-scaling .slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: lightgrey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.disable-scaling input:checked + .slider {
  background-color: var(--primary_color);
}

.disable-scaling input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.disable-scaling input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.switch .text {
  margin-left: 28px;
  white-space: nowrap;
}

.settings {
  display: flex;
  justify-content: space-between;
}
.themeing,
.themeing section {
  display: flex;
  align-items: center;
}
.themeing input {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 35px;
}
.themeing {
  margin: 0 10px;
}
.themeing button {
  margin-left: 1rem;
}

.bg-image {
  margin-bottom: 10px;
  display: flex;
  padding: 0 10px;
  align-items: center;
}

.bg-image input {
  flex-grow: 1;
}

@media (max-width: 700px) {
  .settings {
    flex-direction: column;
  }
  .player-info {
    transform-origin: 0;
    transform: scale(0.85);
    margin-left: 1px;
  }

  .bg-image {
    margin-top: 20px;
  }
}
