.all-songs-container {
  backdrop-filter: blur(15px);
  margin: 10px;
  height: 70vh;
  background: #0c09261f;
  max-height: 70vh;

  margin-left: auto;
  width: 100%;
  max-width: 400px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.all-songs {
  overflow: auto;
  flex: 1;
  padding-top: 2px;
}

.thumbnail {
  width: 120px;
  object-fit: contain;
  background: black;
}

.song-item {
  background: #ffffff14;
  padding: 10px;
  margin: 0 10px 10px 10px;
  display: flex;
  position: relative;
}

.song-item.active {
  box-shadow: 0 0 0px 2px var(--secondary_color);
}

.song-item .title {
  font-size: 15px;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song-item .channel {
  opacity: 0.7;
  font-size: 12px;
  margin: 10px 0;
}

.live-tag {
  font-size: 12px;
  background: var(--primary_color);
  width: min-content;
  padding: 3px 5px;
  color: rgb(0 0 0 / 0.8);
}

.song-item .info {
  padding: 10px;
  font-size: 14px;
  flex: 1;
  width: 67%;
}

.all-songs::-webkit-scrollbar-thumb {
  background: var(--primary_color);
}

.all-songs::-webkit-scrollbar {
  background: #ffffff14;
  width: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px 0;
  position: sticky;
  top: 0;
}

.close button {
  background: transparent;
  border: none;
  outline: none;
}

.header .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.song-item .options {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.song-item .options button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

.add-song {
  display: flex;
  align-items: center;
  padding: 3px;
}
.add-song input {
  flex-grow: 1;
}
