.all-songs-container {
  backdrop-filter: blur(15px);
  margin: 10px;
  height: 70vh;
  background: #0c09261f;
  max-height: 70vh;

  margin-left: auto;
  width: 100%;
  max-width: 400px;
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
}

.all-songs {
  overflow: auto;
  flex: 1;
}

.song-item {
  background: #ffffff14;
  padding: 10px;
  margin: 10px;
  display: flex;
}

.song-item.active {
  box-shadow: 0 0 0px 2px #8b90ff;
}

.song-item .title {
  font-size: 15px;
}

.song-item .channel {
  opacity: 0.7;
  font-size: 12px;
  margin: 10px 0;
}

.live-tag {
  font-size: 12px;
  background: #814b9b;
  width: min-content;
  padding: 3px 5px;
}

.song-item .info {
  padding: 10px;
  font-size: 14px;
  flex: 1;
  width: 67%;
}

.all-songs::-webkit-scrollbar-thumb {
  background: #d070ff8f;
}

.all-songs::-webkit-scrollbar {
  background: #ffffff14;
  width: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px 5px 0;
  position: sticky;
  top: 0;
}

.close button {
  background: transparent;
  border: none;
  outline: none;
}

.header .options button {
  color: white;
  font-family: "Bubblegum Sans";
  background: #ffffff24;
  outline: none;
  padding: 4px 6px;
  outline: none;
  border: none;
}

.header .options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.options button.active {
  background: #814b9b;
}

.all-songs-container input {
  background: transparent;
  border: 2px solid #814b9b;
  margin: 0 5px;
  outline: none;
  color: white;
  padding: 3px;
}
