.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background: linear-gradient(0deg, black, black);
  bottom: 0;
  top: 0;
}

.overlay img {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  object-fit: cover;
}

.overlay .text {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  font-size: 1.5em;
  text-align: center;
  padding-top: 25vh;
  background: #0000009e;
}
