.player {
  width: 400px;
  background: rgb(0 13 53 / 36%);
  padding: 15px 10px;
  backdrop-filter: blur(10px);
}

.player-container {
  position: fixed;
  bottom: 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-container .title {
  margin-bottom: 10px;
  font-size: 16px;
}

.player .actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button {
  outline: none;
  background: transparent;
  border: 3px solid #d070ff;
}

.actions .play-pause svg {
  width: 25px;
  height: 25px;
  padding-top: 5px;
}

button.play-pause {
  transform: scale(1.2);
}

.actions .play-pause svg.play {
  margin-right: -2px;
  width: 27px;
  height: 25px;
}

.secondary-actions button {
  margin: 3px 10px;
  transform: scale(0.7);
  border: 3px solid #8b90ff;
}

.secondary-actions button svg {
  fill: #8b90ff;
  padding-top: 5px;
  padding-left: 3px;
}

.secondary-actions button.prev {
  transform: rotate(180deg) scale(0.7);
}

.progress .slider {
  position: absolute;
  top: -5px;
  left: 0px;
}

.secondary-actions .volume {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-actions .volume input {
  margin-left: -15px;
}

.secondary-actions {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {
  .player-container {
    transform: scale(0.85);
  }
}
