.cashtab-container {
  background: rgb(0 13 53 / 50%);
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 140px;
  left: 0;
  border: 2px solid #8b91ff5c;
}

.cashtab-container .heading {
  font-size: 15px;
  padding: 10px;
}

.cashtab-container .code {
  padding: 5px;
  color: #f1f1ff;
  background: #ffffff08;
  margin-top: 5px;
}

.cashtab-container svg {
  border-radius: 10px;
}

.cashtab-container .close.btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}
