.cashtab-container {
  background: rgb(24 24 24 / 50%);
  box-sizing: border-box;
  text-align: center;
  border: 2px solid var(--secondary_color);
}

.cashtab-container .heading {
  font-size: 15px;
  padding: 10px;
}

.cashtab-container .code {
  padding: 5px;
  color: #f1f1ff;
  background: #ffffff08;
  margin-top: 5px;
}

.cashtab-container svg {
  border-radius: 10px;
}

.cashtab-container .close.btn {
  background: transparent;
  position: absolute;
  right: 0;
  top: 0;
}
