html,
body {
  margin: 0;
  overflow: hidden;
  color: white;
}

.iframe-container {
  pointer-events: none;
}

.iframe-container iframe {
  height: 100vh;
  width: 100vw;
  transform: scale(1.3);
  transition: transform 500ms;
}

.player-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: #3b06554d;
}

input,
button {
  font-family: inherit;
  cursor: inherit;
}
@media (max-width: 800px) {
  .iframe-container iframe {
    transform: scale(3.4);
  }
}

button.btn {
  color: white;
  font-family: inherit;
  background: #ffffff24;
  outline: none;
  padding: 4px 6px;
  outline: none;
  border: none;
}

button.btn.active {
  background: var(--secondary_color);
}

.toast-container {
  position: absolute;
  z-index: 11;
}

.btn.gh {
  background: #14243b9f;
}

.btn.bmf {
  background: #ffeb3bba;
  color: #000;
}

.btn.cashtab {
  background: rgb(0 69 116 / 73%);
}
