input[type="range"] {
  --color: var(--primary_color);
  --progress: 0%;
  --background: #00153e8a;
  -webkit-appearance: none;
  height: 5px;
  background: var(--background);
  background-image: linear-gradient(var(--color), var(--color));
  background-size: var(--progress) 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0px;
}
input[type="range"].small {
  height: 3px;
  width: 60px;
}

input.slider.vertical {
  transform-origin: left top;
  left: 50%;
  bottom: 22px;
  transform: rotate(-90deg) !important;
  position: absolute;
  width: 65px;
}

/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--color);
  cursor: ew-resize;
  transition: background 0.3s ease-in-out;
}

input[type="range"].small::-webkit-slider-thumb {
  height: 12px;
  width: 12px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"].small::-moz-range-thumb {
  height: 10px;
  width: 10px;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

input[type="range"].small::-ms-thumb {
  height: 10px;
  width: 10px;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: var(--color);
}

input[type="range"]::-moz-range-thumb:hover {
  background: var(--color);
}

input[type="range"]::-ms-thumb:hover {
  background: var(--color);
}

/* Input Track */
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
